

<h1 id="title" class="text-center">{{#link-to 'legislators'}}Alligator Congress{{/link-to}}</h1>


<nav class="navbar navbar-default" role="navigation">
  <ul class="nav navbar-nav">
    <li>{{#link-to 'upcomingbills'}}Upcoming Bills{{/link-to}}</li>
    <li>{{#link-to 'committees'}}Committees{{/link-to}}</li>
  </ul>

</nav>

<div class="container">

  {{outlet}}
</div>
