<h2 class="text-center">Upcoming Bills</h2>

<div class="img-alligator">

<img class="logo" src="/img/alligator-politician.jpg" alt="Alligator Politician" />
</div>

<table class="table table-striped table-style">
  <thead>
  <tr>
    <th width="120">Legislative Day</th>
    <th width="60">Chamber</th>
    <th width="400">Bill Description</th>
  </tr>
  </thead>
  <tbody>
  {{#each bill in model}}
  <tr>
    <td>{{bill.legislative_day}}</td>
    <td>{{bill.chamber}}</td>
    <td>{{bill.description}} </td>
  </tr>
  {{/each}}
  </tbody>
</table>
